<div class="page-header">
  <h3>Início</h3>
</div>
<div class="container col-md-12">
  <div class="panel panel-default" [hidden]="hideList">
    <div class="panel-heading">Lista de Produtos</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Valor</th>
          <th><a [routerLink]="['/product/register']" title="Cadastrar">
            <span class="btn btn-warning ">Cadastrar</span>
          </a></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of listProduct">
          <td>{{product.Id}}</td>
          <td>{{product.Name}}</td>
          <td>{{product.Value}}</td>          
          <td>
            <a [routerLink]="['/product/edit', product.Id]" title="Editar">
              <span class="btn btn-info">Alterar</span>
            </a>
            <a [routerLink]="['/product/delete', product.Id]" title="Excluir">
              <span class="btn btn-danger ">Remover</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>