<div class="page-header">
  <h3>Início</h3>
</div>
<div class="container col-md-12">
  <div class="panel panel-default" [hidden]="hideList">
    <div class="panel-heading">Lista de Vendedores</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Documento de Identificação</th>
          <th>Data de nascimento</th>
          <th>Gênero</th>
          <th>Endereço</th>
          <th>Salário Fixo</th>          
          <th><a [routerLink]="['/seller/register']" title="Cadastrar">
            <span class="btn btn-warning ">Cadastrar</span>
          </a></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let seller of listSeller">
          <td>{{seller.Id}}</td>
          <td>{{seller.Name}}</td>
          <td>{{seller.DocumentId}}</td>
          <td>{{seller.BirthDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{seller.Gender | genderPipe}}</td>
          <td>{{seller.Address}}</td>
          <td>{{seller.Salary}}</td>         
          <td>
            <a [routerLink]="['/seller/edit', seller.Id]" title="Editar">
              <span class="btn btn-info">Alterar</span>
            </a>
            <a [routerLink]="['/seller/delete', seller.Id]" title="Excluir">
              <span class="btn btn-danger ">Remover</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>