<div class="page-header">
  <h3>Excluir Produto</h3>
</div>
<div class="container col-md-14">
  <form>
    <div  class="form-row">
      <div class="form-group col-md-8">
        <label>Nome</label>
        <input class="form-control" type="text" [(ngModel)]="product.Name" [ngModelOptions]="{standalone: true}" placeholder="nome do produto" disabled>
      </div>
      <div class="form-group col-md-8">
        <label>Valor</label>
        <input class="form-control" type="text" [(ngModel)]="product.Value" [ngModelOptions]="{standalone: true}" placeholder="valor do produto" disabled>
      </div>
    </div>    
    <div class="form-group col-md-12">
      <button type="button" class="btn btn-danger" (click)="remove()">Exluir</button>
      <a routerLink="/product">
          <button type="button" class="btn btn-warning">Voltar</button>
        </a>
    </div>
  </form>
</div>