<div class="page-header">
    <h3>Excluir Venda</h3>
  </div>
  <div class="container col-md-14">
    <form>
      <div  class="form-row">
        <div class="form-group col-md-8">
          <label>Vendedor</label>
          <input class="form-control" type="text" [(ngModel)]="sale.NameSeller" [ngModelOptions]="{standalone: true}" placeholder="vendedor" disabled>
        </div>
        <div class="form-group col-md-6">
            <label>Data da Compra</label>
            <input class="form-control" type="text" [(ngModel)]="sale.DateSale" [ngModelOptions]="{standalone: true}" disabled>
          </div>        
      </div>
      <div class="form-row">
          <div class="form-group col-md-8">
              <label>Valor Total</label>
              <input class="form-control" type="text" [(ngModel)]="sale.TotalValue" [ngModelOptions]="{standalone: true}" placeholder="valor total" disabled>
            </div>
        
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Comissão</label>
          <input class="form-control" type="text" [(ngModel)]="sale.CommissionValue" [ngModelOptions]="{standalone: true}" placeholder="valor comissão" disabled>
        </div>
      </div>
      <div class="form-group col-md-12">
        <button type="button" class="btn btn-danger" (click)="remove()">Exluir</button>
        <a routerLink="/sale">
            <button type="button" class="btn btn-warning">Voltar</button>
          </a>
      </div>
    </form>
  </div>