<div class="page-header">
  <h3>Excluir Vendedor</h3>
</div>
<div class="container col-md-14">
  <form>
    <div  class="form-row">
      <div class="form-group col-md-8">
        <label>Nome</label>
        <input class="form-control" type="text" [(ngModel)]="seller.Name" [ngModelOptions]="{standalone: true}" placeholder="nome" disabled>
      </div>
      <div class="form-group col-md-8">
        <label>Documento de Identificação</label>
        <input class="form-control" type="text" [(ngModel)]="seller.DocumentId" [ngModelOptions]="{standalone: true}" placeholder="documento de identificação" disabled>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Gênero</label>
        <select class="form-control" [(ngModel)]="seller.Gender" [ngModelOptions]="{standalone: true}" disabled>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
      </div>
      <div class="form-group col-md-6">
        <label>Data de nascimento</label>
        <input class="form-control" type="text" [(ngModel)]="seller.BirthDate" [ngModelOptions]="{standalone: true}" disabled>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Endereço</label>
        <input class="form-control" type="text" [(ngModel)]="seller.Address" [ngModelOptions]="{standalone: true}" placeholder="Endereço" disabled>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Salário</label>
        <input class="form-control" type="text" [(ngModel)]="seller.Salary" [ngModelOptions]="{standalone: true}" placeholder="Salario" disabled>
      </div>
    </div>
    <div class="form-group col-md-12">
      <button type="button" class="btn btn-danger" (click)="remove()">Exluir</button>
      <a routerLink="/seller">
          <button type="button" class="btn btn-warning">Voltar</button>
        </a>
    </div>
  </form>
</div>