.body {
    height: 100%;
    background-color: #000 !important;
}

.menu-up {
    height: 80px;
    background-color: #000;
    color: #fff;
}


.title-menu {
    float: left;
    width: 15%;
    font-weight: 700;
    background-color: #000;
    color: #FFF;
    margin-right: 3%;
    cursor: default;
}

.menu {
    float: left;
    width: 15%;
    background-color: #000;
    padding-top: 25px;
    color: #FFF !important;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

.menu:hover {
    width: 15%;
    height: 100%;
    background-color: #000;
}

.center-body {
    width: 80%;
    min-height: 85%;
    margin-left: 10%;
    background-color: #FFF;
    color: #000;
}

.page-footer {
    height: auto;
    padding-left: 45%;
    text-align: center;
    background-color: #000;    
}