<header class="row menu-up no-padding">
  <div class="container">
      <div class="title-menu">
          <h3>SegImob</h3>
      </div>
        <a routerLink="/home">
          <nav class="menu">
            Home
          </nav>
        </a>
        <a routerLink="/product">
          <nav class="menu">
            Produto
          </nav>
        </a>
        <a routerLink="/sale">
          <nav class="menu">
            Vendas
          </nav>
        </a>
        <a routerLink="/seller">
          <nav class="menu">
            Vendedor
          </nav>
        </a>
        <a routerLink="/sale/report">
          <nav class="menu">
            Relatório
          </nav>
        </a>
  </div>  
</header>
      <section class="row center-body">
        <router-outlet></router-outlet>
      </section>
<footer class="row page-footer">
  <div>
      <p>SegImob Test - Sandro Ferrão</p>
  </div>
</footer>
      