<div class="page-header">
  <h3>Atualizar Produto</h3>
</div>

<div class="container col-md-14">
  <form>
    <div class="form-row">
      <div class="form-group col-md-8" [ngClass]="{'has-error': !name.valid && (name.dirty || name.touched)}">
        <label class="control-label">Nome</label>
        <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="product.Name" [ngModelOptions]="{standalone: true}"
        placeholder="nome do produto" required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Nome deve ser preenchido!!
        </div>
      </div>
      <div class="form-group col-md-8" [ngClass]="{'has-error': !value.valid && (value.dirty || value.touched)}">
        <label class="control-label">Valor</label>
        <input type="text" maxlength="13" name="value" #value="ngModel" [(ngModel)]="product.Value" [ngModelOptions]="{standalone: true}"
        class="form-control" placeholder="valor do produto" required>
        <div [hidden]="value.valid || value.pristine " class="alert alert-danger">
          Valor deve ser preenchido!!
        </div>
      </div>
    </div>
    <hr>   
    <div>
      <button type="button" (click)="validateForm()" class="btn btn-info">Atualizar</button>
      <a routerLink="/product">
          <button type="button" class="btn btn-danger">Voltar</button>
        </a>
    </div>
  </form>
</div>