<div class="page-header">
  <h3>Atualizar Venda</h3>
</div>

<div class="container col-md-14">
  <form>
    <div class="form-row">
        <div class="form-group col-md-8" [ngClass]="{'has-error': !comboSeller.valid && (comboSeller.dirty || comboSeller.touched)}">
          <label class="control-label">Vendedor</label>
          <div class="col-md-3">
              <select name="comboSeller" #comboSeller="ngModel" [(ngModel)]="sale.IdSeller" class="form-control">
                  <option *ngFor="let Seller of Sellers" [ngValue]="seller.Id">{{sale.NameSeller}}</option>
                  <div [hidden]="comboSeller.valid || comboSeller.pristine" class="alert alert-danger">
                      Vendedor deve ser selecionado!!
                  </div>
              </select>
          </div>       
      </div>
      <div class="form-group col-md-6" [ngClass]="{'has-error': !DateSale.valid && (DateSale.dirty || DateSale.touched)}">
        <label class="control-label">Data da Venda</label>
        <input class="form-control" type="date" #DateSale="ngModel" name="DateSale" [(ngModel)]="sale.DateSale" [ngModelOptions]="{standalone: true}" required>
        <div [hidden]="DateSale.valid || DateSale.pristine " class="alert alert-danger">
          Data da Venda deve ser preenchido!!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="{'has-error': !commissionValue.valid && (commissionValue.dirty || commissionValue.touched)}">
        <label>Valor Comissão</label>
        <input class="form-control" type="text" #commissionValue="ngModel" name="commissionValue" [(ngModel)]="sale.CommissionValue" [ngModelOptions]="{standalone: true}"
          placeholder="valor comissão" required>
          <div [hidden]="commissionValue.valid || commissionValue.pristine " class="alert alert-danger">
            Valor deve ser preenchido!!
          </div>
      </div>
      <div class="form-group col-md-6" [ngClass]="{'has-error': !TotalValue.valid && (TotalValue.dirty || TotalValue.touched)}">
          <label>Valor Total da Venda</label>
          <input class="form-control" type="number" #TotalValue="ngModel" name="TotalValue" [(ngModel)]="sale.TotalValue" [ngModelOptions]="{standalone: true}"
            placeholder="Endereço" required>
            <div [hidden]="TotalValue.valid || TotalValue.pristine " class="alert alert-danger">
              Valor Total deve ser preenchido!!
            </div>
        </div>
    </div>
    <div>
      <button type="button" (click)="validateForm()" class="btn btn-info">Atualizar</button>
      <a routerLink="/sale">
          <button type="button" class="btn btn-danger">Voltar</button>
        </a>
    </div>
  </form>
</div>