<div class="page-header">
  <h3>Início</h3>
</div>
<div class="container col-md-12">
  <div class="panel panel-default" [hidden]="hideList">
    <div class="panel-heading">Lista de Vendas</div>
    <table class="table table-striped">
      <thead>          
        <tr>
          <th>ID</th>
          <th>Vendedor</th>
          <th>Data da Venda</th>
          <th>Valor Comissão</th>
          <th>Valor Total da Venda</th>
          <th><a [routerLink]="['/sale/register']" title="Excluir">
            <span class="btn btn-warning ">Cadastrar</span>
          </a></th>      
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of listSale">
          <td>{{sale.Id}}</td>
          <td>{{sale.NameSeller}}</td>
          <td>{{sale.DateSale | date: 'dd/MM/yyyy'}}</td>          
          <td>{{sale.CommissionValue}}</td>         
          <td>{{sale.TotalValue}}</td>
         
          <td>
            <a [routerLink]="['/sale/edit', sale.Id]" title="Editar">
              <span class="btn btn-info">Alterar</span>
            </a>
            <a [routerLink]="['/sale/delete', sale.Id]" title="Excluir">
              <span class="btn btn-danger ">Remover</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>