<div class="page-header">
  <h3>Atualizar Vendedor</h3>
</div>

<div class="container col-md-14">
  <form>
    <div class="form-row">
      <div class="form-group col-md-8" [ngClass]="{'has-error': !name.valid && (name.dirty || name.touched)}">
        <label class="control-label">Nome</label>
        <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="seller.Name" [ngModelOptions]="{standalone: true}" placeholder="nome" required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Nome deve ser preenchido!!
        </div>
      </div>
      <div class="form-group col-md-8" [ngClass]="{'has-error': !documentId.valid && (documentId.dirty || documentId.touched)}">
        <label class="control-label">Documento de Identificação</label>
        <input type="text" maxlength="13" name="documentId" #documentId="ngModel" [(ngModel)]="seller.DocumentId" [ngModelOptions]="{standalone: true}"
        class="form-control" placeholder="documento de identificação" required>
        <div [hidden]="documentId.valid || documentId.pristine " class="alert alert-danger">
          Documento de Identificação deve ser preenchido!!
        </div>
      </div>
    </div>
    <hr>
    <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="{'has-error': !gender.valid && (gender.dirty || gender.touched)}">
        <label class="control-label">Gênero</label>
        <select class="form-control" name="gender" #gender="ngModel" [(ngModel)]="seller.Gender" [ngModelOptions]="{standalone: true}"
          required>
                  <option value="M">Masculino</option>
                  <option value="F">Feminino</option>
              </select>
              <div [hidden]="gender.valid || gender.pristine " class="alert alert-danger">
                Gênero deve ser preenchido!!
              </div>
      </div>
      <div class="form-group col-md-6" [ngClass]="{'has-error': !birthDate.valid && (birthDate.dirty || birthDate.touched)}">
        <label class="control-label">Data de nascimento</label>
        <input class="form-control" type="date" #birthDate="ngModel" name="birthDate" [(ngModel)]="seller.BirthDate" [ngModelOptions]="{standalone: true}" required>
        <div [hidden]="birthDate.valid || birthDate.pristine " class="alert alert-danger">
          Data de nascimento deve ser preenchido!!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" [ngClass]="{'has-error': !address.valid && (address.dirty || address.touched)}">
        <label>Endereço</label>
        <input class="form-control" type="text" #address="ngModel" name="address" [(ngModel)]="seller.Address" [ngModelOptions]="{standalone: true}"
          placeholder="Endereço" required>
          <div [hidden]="address.valid || address.pristine " class="alert alert-danger">
            Endereço deve ser preenchido!!
          </div>
      </div>
      <div class="form-group col-md-8" [ngClass]="{'has-error': !salary.valid && (salary.dirty || salary.touched)}">
        <label class="control-label">Salário</label>
        <input class="form-control" type="number" name="salary" #salary="ngModel" [(ngModel)]="seller.Salary" [ngModelOptions]="{standalone: true}" placeholder="nome" required>
        <div [hidden]="salary.valid || salary.pristine" class="alert alert-danger">
          Salário deve ser preenchido!!
        </div>
      </div>
    </div>
    <div>
      <button type="button" (click)="validateForm()" class="btn btn-info">Atualizar</button>
      <a routerLink="/seller">
          <button type="button" class="btn btn-danger">Voltar</button>
        </a>
    </div>
  </form>
</div>